<%- include('partials/header') %>
<h1><%= title %></h1>
<form method="POST" action="">
  <div class="form-group">
    <label for="book">Book:</label>
    <select
      type="select"
      id="book"
      name="book"
      value="<%= locals.bookinstance === undefined ? '' : locals.bookinstance.book %>"
      class="form-control"
      placeholder="select book"
    >
      <% book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let
      textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA >
      textB) ? 1 : 0;}); book_list.map(book =>{ %>
      <option value="" disabled selected hidden>Select book</option>
      <option value="<%= book._id %>"><%= book.title %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="imprint">Imprint:</label>
    <input
      type="text"
      id="imprint"
      name="imprint"
      value="<%= locals.bookinstance === undefined ? '' : locals.bookinstance.imprint %>"
      class="form-control"
      placeholder="Publisher and date information"
    />
  </div>
  <div class="form-group">
    <label for="due_back">Due:</label>
    <input
      type="date"
      id="due_back"
      name="due_back"
      value="<%= locals.bookinstance === undefined ? '' : locals.bookinstance.due_back %>"
      class="form-control"
    />
  </div>
  <div class="form-group">
      <label for="status">Status:</label>
      <select type="select" class="form-control" id="status" name="status">
        <option value="" disabled selected hidden>Select Status</option>
        <option value='Maintenance'>Maintenance</option> 
        <option value='Available'>Available</option>
        <option value='Loaned'>Loaned</option>
        <option value='Reserved'>Reserved</option> 
      </select>
  </div>
</form>
<% if(errors){ %>
<ul>
  <% errors.map(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } - include('partials/footer') %>
