<%- include('partials/header') %>
<h1>Genre:<%= genre.name %></h1>
<div style="margin-left: 20px; margin-top: 20px">
  <h4>Books</h4>
  <dl>
    <% if(genre_books[0]){ genre_books.map(book => { %>
    <dt><a href="<%= book.url %>"><%= book.title %></a></dt>
    <dd><%= book.summary %></dd>
    <% }) } else{ %>
    <p>This Genre has no books.</p>
    <% } %>
  </dl>
</div>
<hr />
<p>
  <a href="<%=genre.url%>/delete">Delete genre</a>
  <a href="<%=genre.url%>/update" style="padding-left: 10px">Update genre</a>
</p>
<%- include('partials/footer') %>
